
test_NO_americio_self_1hr_TH_214_8ch_tp4.txt
test_NO_americio_self_1hr_TH_214_32ch_tp4.txt
SSL_Berkeley/IT_400_xray_207_FTh_10mins_tau5.txt
SSL_Berkeley/IT_400_xray_205_FTh_3mins_tau3.txt
SSL_Berkeley/IT_400_xray_205_FTh_10mins_tau5.txt
self_trigger_1hr_THR_130_pt4_34.txt
self_americio_ch8_1hr.txt
Run_11_08_2022_11.29.16_1hr_self_130_ZS.txt
Run_11_08_2022_11.29.16_1hr_self_130.txt
channel4_americio.txt
ch4_self_muons_THR130_ch7.csv
ch4_self_muons_THR130_ch6.csv
ch4_self_muons_THR130.csv
ch4_americio.csv
